services:
  express_dev:
    image: '${EXPRESS_NAME}_dev'
    container_name: '${EXPRESS_NAME}_dev'
    build:
      context: services/express/
      dockerfile: Dockerfile.dev
      args:
        NODE_VERSION: '${NODE_VERSION}'
        DEV_PORT: '${DEV_PORT}'
    volumes:
      - ./services/express/app/src:/app/src
    networks:
      - trans_net
    ports:
      - 8082:8080
    environment:
      MARIADB_ROOT_PASSWORD: '${MARIADB_ROOT_PASSWORD}'
      MARIADB_DATABASE: '${MARIADB_DATABASE}'
      MARIADB_USER: '${MARIADB_USER}'
      MARIADB_PASSWORD: '${MARIADB_PASSWORD}'
      DB_HOST: '${DB_NAME}'
  react_dev:
    image: '${NGINX_NAME}_dev'
    container_name: '${NGINX_NAME}_dev'
    build:
      context: services/nginx/
      dockerfile: Dockerfile.dev
      args:
        NODE_VERSION: '${NODE_VERSION}'
        DEV_PORT: '${DEV_PORT}'
    networks:
      - trans_net
    ports:
      - 8081:${DEV_PORT}
    develop:
      watch:
        - action: sync
          path: services/nginx/reactjs-files/
          target: /app
  nginx:
    build: 
      context: services/nginx/
      dockerfile: Dockerfile
      args:
        NGINX_VERSION: '${NGINX_VERSION}'
        NODE_VERSION: '${NODE_VERSION}'
        NGINX_PORT: '${NGINX_PORT}'
    image: '${NGINX_NAME}'
    container_name: '${NGINX_NAME}'
    networks:
      - trans_net
    ports:
      - 8080:${NGINX_PORT}

  express:
    build: 
      context: services/express/
    image: '${EXPRESS_NAME}'
    container_name: '${EXPRESS_NAME}'
    environment:
      MARIADB_ROOT_PASSWORD: '${MARIADB_ROOT_PASSWORD}'
      MARIADB_DATABASE: '${MARIADB_DATABASE}'
      MARIADB_USER: '${MARIADB_USER}'
      MARIADB_PASSWORD: '${MARIADB_PASSWORD}'
    networks:
      - trans_net
  mariadb:
    image: mariadb:${MARIADB_VERSION}
    container_name: '${DB_NAME}'
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: '${MARIADB_ROOT_PASSWORD}'
      MARIADB_DATABASE: '${MARIADB_DATABASE}'
      MARIADB_USER: '${MARIADB_USER}'
      MARIADB_PASSWORD: '${MARIADB_PASSWORD}'
    ports:
      - "3306:3306"
    networks:
      - trans_net

networks:
  trans_net:
