services:
  react_dev:
    image: '${NGINX_NAME}_dev'
    container_name: '${NGINX_NAME}_dev'
    build:
      context: services/nginx/
      dockerfile: Dockerfile.dev
      args:
        NODE_VERSION: '${NODE_VERSION}'
        DEV_PORT: '${DEV_PORT}'
    networks:
      - trans_net
    ports:
      - 8081:${DEV_PORT}
    develop:
      watch:
        - action: sync
          path: services/nginx/reactjs-files/
          target: /app
  nginx:
    build: 
      context: services/nginx/
      dockerfile: Dockerfile
      args:
        NODE_VERSION: '${NODE_VERSION}'
        NGINX_PORT: '${NGINX_PORT}'
    image: '${NGINX_NAME}'
    container_name: '${NGINX_NAME}'
    networks:
      - trans_net
    ports:
      - 8080:${NGINX_PORT}

  express:
    build: 
      context: services/express/
    image: '${EXPRESS_NAME}'
    container_name: '${EXPRESS_NAME}'
    networks:
      - trans_net
  mariadb:
    image: mariadb:${MARIADB_VERSION}
    container_name: '${DB_NAME}'
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: "azerty"
      MARIADB_DATABASE: "test_db"
      MARIADB_USER: "derakoto"
      MARIADB_PASSWORD: "azerty"
    ports:
      - "3306:3306"
networks:
  trans_net:
